# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
.env

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# build output
dist/
build/

# local data
savedData.json
